body {background-color: yellow}​

​

h1 {​

color:black;​

text-align:left;​

font-size:22px;​

}​

​

h2 {​

color:black;​

text-align:left;​

font-size:18px​

}​

​

​

p {​

font-family:helvetica;​

font-size:12px;​

word-spacing:2px;​

text-align:left;​

margin-left:20px;​

margin-right:20px;​

}​
